h1.title,
h3.right {
  display: inline-block;
  margin: 18px;
  color:black;
}

h1.title:hover,
h3.right:hover {
  color:#2d2df2;
}

div.nav-bar h3.right {
  float: right;
  margin-top: 15px;
  margin-top: 25px;
}

h1.title {
  float: left;
  margin-top: 15px;
  font-weight:400;
  font-size:35px;
}

.nav-bar {
  padding-bottom: 120px;
}

@media (max-width: 500px) {
  h1.title,
  h3.right{
    margin:6px;
    font-size:10px;
  }

  h3.right{
    font-size:10px;
  }
  
}
