select#sort {
  width: 50%;
  display: block;
  padding: 8px;
  margin: 0 auto;
}

form.searchBar button {
  width: 17%;
  padding: 10px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}

@media (max-width: 449px) {
  form.searchBar button {
    width: 30%;
  }
}
