body {
  margin-bottom: 100px;
  color: black;
  background-color:whitesmoke;
  padding-bottom:60px;
}

.app h1.front-page-descrip {
  text-align: center;
  width: 70%;
  margin: 20px auto 50px auto;
}

.app img.sr-logo {
  display: block;
  margin: 0 auto;
  width: 500px;
  box-shadow: indigo;
}

.testImg{
  box-shadow: 1px 2px 16px 8px rgb(180, 186, 194);
  display: block;
  margin: 0 auto;
  width:500px;
}

input {
  display: block;
  margin: 40px auto;
}

button {
  display: block;
  margin:0 auto;
}

img {
  display: block;
  margin: 0 auto;
  width:500px;
}

@media (max-width: 500px) {
  .app h1.front-page-descrip {
    font-size: 23px;
  }
}
