.club {
  border: none;
  margin: 50px auto;
  width: 60%;
  height: 100%;
  padding: 20px;
  background-color: white;
  box-shadow: 1px 2px 11px 8px rgb(224, 226, 230);
}

.club:hover{
  transform: scale(1.03);
}

.club h1 {
  color:rgb(34, 128, 243);
}

.club h3 {
  color:rgb(184, 179, 179);
}

@media (max-width: 449px) {
  .club h1 {
    font-size: 22px;
  }
  .club h3 {
    font-size: 15px;
  }
  .club {
    width: 70%;
  }
}
